<nav class="sidebar">
    <div class="logo">
        <a href="#" class="simple-text">
            CSGOSTAKES Admin
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="#" class="simple-text">
            CS
        </a>
    </div>
    <div class="sidebar-wrapper">
        <% include sidebar_menu %>
    </div>
</nav>